
<div class='' >
    <table class='table table-striped table-bordered table-condensed table-hover'>
      <tr>
        <th>
            <i class='icon-thumbs-up icon-large'></i>
            <i class='icon-thumbs-down icon-large'></i>
        </th>
        <th>Status</th>
        <th>Bid</th>
        <th>Address</th>
        <th>Date</th>
        <th>County</th>
        <th>Seller</th>
        <th>Owner</th>
        <th>Updated</th>
        <th><i class='icon-trash' /></th>
      </tr>

      <tr ng-repeat='item in sales'>
        <td>
          <button class='btn' ng-click="nextRank(item)">
          <span ng-hide='true'>{{item.rank}}</span>
          <span ng-switch on=item.rank >
            <i ng-switch-when="1" class='icon-thumbs-up icon-2x'></i>
            <i ng-switch-when="2" class='icon-thumbs-down icon-2x icon-rotate-270'></i>
            <i ng-switch-when="3" class='icon-thumbs-down icon-2x'></i>
            <i ng-switch-default class='icon-sign-blank icon-2x'></i>
          </button>
          </span>
        </td>
        <td>{{item.status}}</td>
        <td>{{item.bid}}</td>
        <td>
          <a href="http://maps.google.com/maps?q={{item.address | encode }}" target="_blank">
            {{item.address}}
          </a>
        </td>
        <td>{{item.date | date:'MM/dd hh:mm' }}</td>
        <td>{{item.county}}</td>
        <td>{{ item.seller_name }}
        </td>
        <td>{{item.owner}}</td>
        <td>{{item.updated_at | date:'MM/dd:ha' }}</td>
        <td>
          <button class='btn-link' ng-click="deleteSale(item)">
            <i class='icon-remove'></i>
          </button>
        </td>
      </tr>

    </table>
</div>
