
<div class='' >
    <table class='table table-striped table-bordered table-condensed table-hover'>
      <tr>
        <th>
            <i class='icon-thumbs-up' /><i class='icon-thumbs-down' />
        </th>
        <th>Status</th>
        <th>Bid</th>
        <th>Address</th>
        <th>Date</th>
        <th>County</th>
        <th>Seller</th>
        <th>Owner</th>
        <th>Updated</th>
        <th><i class='icon-trash' /></th>
      </tr>

      <tr ng-repeat='item in sales'>
        <td>{{item.rank}}</td>
        <td>{{item.status}}</td>
        <td>{{item.bid}}</td>
        <td>{{item.address}}</td>
        <td>{{item.date | date:'MM/dd hh:mm' }}</td>
        <td>{{item.county}}</td>
        <td>{{ item.seller_name }}
        </td>
        <td>{{item.owner}}</td>
        <td>{{item.updated_at | date:'MM/dd:ha' }}</td>
        <td>
          <button class='btn-link' ng-click="deleteSale(item)">
            <i class='icon-remove'></i>
          </button>
        </td>
      </tr>

    </table>
</div>
