<div class='' >
    <table class='table table-striped table-bordered table-condensed table-hover'>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Updated</th>
      </tr>

      <tr ng-repeat='item in filteredSellers'>
        <td>
          <a ng-if='item.url' href="{{item.url}}" target="_blank">
            {{item.name}}
          </a>
          <span ng-if='!item.url'>
            {{item.name}}
          </span>
        </td>
        <td>{{item.phone}}</td>
        <td>{{item.scraped_at | date:'MM-dd hh:mm'}}</td>
      </tr>
    </table>
</div>

